li {
    border-top: 1px solid #CCC;
    padding: 10px 0 10px 10px;

}

li:hover {
    background-color: #F5F5F5;
}

li:last-child {
    border-bottom: 1px solid #CCC;
}

li h4 {
    margin: 0;
}

.issues-component {
    position: relative;
}

.issues-component .loader {
    position: absolute;
    background: url(../../loader.gif) no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    top: 40px;
    left: 45%;
}
