nav.header-nav {
    border-radius: 0;
    height: 40px;
    min-height: 0;
}

.logo-container {
    padding: 10px 15px;
}

.logo-link {
    color: #FFF;
}

.logo-link:link,
.logo-link:visited,
.logo-link:hover,
.logo-link:active {
    color: #FFF;
    text-decoration: none;
}
