.issues-nav-links {
    width: 90%;
    margin: 10px auto;
    text-align: left;
}

.issues-nav-links .next-link,
.issues-nav-links .prev-link {
    float: right;
    padding: 0 10px;
}

.issues-nav-links .next-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.issues-nav-links .prev-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.issues-nav-links .next-link span,
.issues-nav-links .prev-link span {
    font-size: 20px;
}

.issue-detail-panel {
    width: 90%;
    margin: 10px auto;
}

.issue-details h5 {
    border-bottom: 1px solid #CCC;
}

.issue-details .issue-label {
    color: #707070;
    font-style: italic;
    font-weight: normal;
}

.issue-detail-heading h3 {
    margin: 5px 0;
}

.details-wrapper h5,
.description-wrapper h5 {
    font-weight: bold;
}
